# Data Understanding

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 200)
import numpy as np

#from fuzzywuzzy import fuzz, process

## Import Data

### Corona Time Series

In [3]:
# Read JHU time series data
confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
deaths = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")
recovered = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv")

In [4]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,48,50,50,50,53,59,70,75,82,114
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,420,461,502,511,581,639,639,701,773,839
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,130,138,150,150,160,178,178,200,212,226
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,83,93,99,117,129,149,149,197,238,428

In [5]:
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,6,6,6,10,10,15,16,19,22,22
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,31,31,31,31,33,34,34,35,35,35
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,46,76,76,76,101,118,118,118,118,118
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,78,78,78,78,78,96,96,97,105,105
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,22,23,24,24,24,26,26,26,35,42

In [16]:
# Choose the dates
dates = confirmed.columns[4:]

# Convert data to long format for proper concat
conf_df_long = confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Confirmed')

deaths_df_long = deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Deaths')

recv_df_long = recovered.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Recovered')

# Create a full table from the confirmed, death and recovered
full_table = pd.concat([conf_df_long, deaths_df_long['Deaths'], recv_df_long['Recovered']], 
                       axis=1, sort=False)

full_table.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,NaN,Japan,36.0000,138.0000,1/22/20,2,0,0
2,NaN,Singapore,1.2833,103.8333,1/22/20,0,0,0
3,NaN,Nepal,28.1667,84.2500,1/22/20,0,0,0
4,NaN,Malaysia,2.5000,112.5000,1/22/20,0,0,0

In [10]:
full_table.shape

(24300, 8)

In [13]:
full_table.isna().sum()

Province/State    7506
Country/Region       0
Lat                  0
Long                 0
Date                 0
Confirmed            0
Deaths               0
Recovered            0
dtype: int64

In [19]:
full_table[full_table['Country/Region']=='China']

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
155,Hubei,China,30.9756,112.2707,1/22/20,444,17,28
159,Guangdong,China,23.3417,113.4244,1/22/20,26,0,0
160,Henan,China,33.8820,113.6140,1/22/20,5,0,0
161,Zhejiang,China,29.1832,120.0934,1/22/20,10,0,0
162,Hunan,China,27.6104,111.7088,1/22/20,4,0,0
...,...,...,...,...,...,...,...,...
24039,Inner Mongolia,China,44.0935,113.9448,3/15/20,75,1,71
24040,Ningxia,China,37.2692,106.1655,3/15/20,75,0,73
24044,Qinghai,China,35.7452,95.9956,3/15/20,18,0,18
24045,Macau,China,22.1667,113.5500,3/15/20,10,0,10
24053,Tibet,China,31.6927,88.0924,3/15/20,1,0,1

In [22]:
df = full_table.groupby(['Country/Region', 'Date'], as_index=False)[['Confirmed', 'Deaths', 'Recovered']].sum()

In [23]:
# Country dict to match population data
country_dict = {'Mainland China': 'China',
                'Korea, South': 'Republic of Korea',
                'US':'United States of America',
                'Taiwan*': "China, Taiwan Province of China",
                'Bolivia': 'Bolivia (Plurinational State of)',
                "Iran": "Iran (Islamic Republic of)",
                "Russia": "Russian Federation",
                "Vietnam": "Viet Nam",
                "Brunei":"Brunei Darussalam",
                "Moldova": "Republic of Moldova",
                "Cote d'Ivoire": "CÃ´te d'Ivoire",
                "Reunion": "RÃ©union",
                "Congo (Kinshasa)":"Democratic Republic of the Congo",
                "occupied Palestinian territory": "State of Palestine",
                "Curacao":"CuraÃ§ao",
                "Venezuela":"Venezuela (Bolivarian Republic of)",
                #"Jersey": "United Kingdom",
                #"Guernsey": "United Kingdom"
               }
# Replace the names of countries
df['Country'] = df['Country/Region'].replace(country_dict)

### Population

In [6]:
# Read UN population data
pop = pd.read_excel("data/pop/un_pop_clean.xlsx", index_col=0)
# pop = pop.rename(columns={'2018':'population', "Country Name":"Country"})

# Change Population from thousands to ones
pop.iloc[:,-1] = pop.Population * 1000

In [280]:
pop.head()

,Region,Country code,Type,Parent code,Population
1,WORLD,900,World,0,7.794799e+09
3,More developed regions,901,Development Group,1803,1.273304e+09
4,Less developed regions,902,Development Group,1803,6.521494e+09
5,Least developed countries,941,Development Group,902,1.057438e+09
6,"Less developed regions, excluding least develo...",934,Development Group,902,5.464056e+09

In [44]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285 entries, 1 to 289
Data columns (total 5 columns):
Region          285 non-null object
Country code    285 non-null int64
Type            285 non-null object
Parent code     285 non-null int64
Population      285 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.4+ KB

### Location

In [63]:
# Read UN location data for Income levels and additional information
location = pd.read_excel("data/pop/un_location_clean.xlsx", index_col=0)

# Select only countries, not region
#location = location.loc[location.LocTypeName == 'Country/Area'].iloc[:, [0, 2, 3]].reset_index(drop=True)

In [64]:
location.head()

,Location,Notes,LocID,ISO3_Code,LocType,LocTypeName,ParentID,WorldID,SubRegID,SubRegName,...,WB_LMIC,WB_LIC,WB_NoIncomeGroup,MaxHIV_Male,MaxHIV_Female,MaxHIV_BothSexes,YearMaxHIV_BothSexes,HIVAIDSMortalityImpact_AgePattern,HIVAIDSMortalityImpact_e0,TotPop2019LessThan90k
Index,,,,,,,,,,,,,,,,,,,,,
1,WORLD,NaN,900,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UN development groups,a,1803,NaN,25.0,Label/Separator,900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,More developed regions,b,901,NaN,5.0,Development group,1803,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Less developed regions,c,902,NaN,5.0,Development group,1803,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Least developed countries,d,941,NaN,5.0,Development group,902,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
group = location[location.LocTypeName.isin(['Development group', 'Income group'])][['Location', 'LocID', 'LocTypeName']].reset_index(drop=True)
group = group.rename(columns={'Location': 'Income'})

In [66]:
location['WD'] = location.loc[:, location.columns.str.startswith("WB")].min(axis=1)

In [67]:
location = location.merge(group, how='left', left_on='WD', right_on = 'LocID', suffixes=('', 'y_'))

### Country names

In [92]:
country = pd.read_csv("data/pop/WDICountry.csv").iloc[:,:10]

# Drop regions or special areas such as OECD countries. Only keep countries
country = country.loc[~country.Region.isna()]

In [216]:
location = location.merge(country.iloc[:, [0,1]], left_on='ISO3_Code', right_on='Country Code', how='left')
location = location.iloc[:, [0,1,2,4]]

In [217]:
location.head()

   Location  LocID ISO3_Code Country Code
0   Burundi    108       BDI          BDI
1   Comoros    174       COM          COM
2  Djibouti    262       DJI          DJI
3   Eritrea    232       ERI          ERI
4  Ethiopia    231       ETH          ETH

### Merge Location and Population

In [68]:
# Merge with location data to include Country ISO3 Code
pop = pop.merge(location, left_on="Country code", right_on="LocID")
pop = pop[['Region', 'Population', 'ISO3_Code', 'Income']]

In [69]:
pop.head()

,Region,Population,ISO3_Code,Income
0,WORLD,7.794799e+09,NaN,NaN
1,More developed regions,1.273304e+09,NaN,NaN
2,Less developed regions,6.521494e+09,NaN,NaN
3,Least developed countries,1.057438e+09,NaN,NaN
4,"Less developed regions, excluding least develo...",5.464056e+09,NaN,NaN

In [71]:
# Save final population data
pop.to_pickle('data/pop/pop.pkl')

## Merge

In [292]:
# Merge COVID data with population
merged = df.merge(pop, how="left", left_on="Country", right_on="Region")
merged.drop('Region', axis=1, inplace=True)

In [300]:
merged.sample(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Country,Population,ISO3_Code
228,NaN,Guyana,2020-03-11T20:00:00,1,1,0,5.000000,-58.750000,Guyana,7.865590e+05,GUY
205,North Dakota,US,2020-03-11T20:00:00,1,0,0,47.528912,-99.784012,United States of America,3.310026e+08,USA
27,Inner Mongolia,China,2020-03-11T03:53:03,75,1,71,44.093500,113.944800,China,1.439324e+09,CHN
26,Xinjiang,China,2020-03-11T02:18:14,76,3,73,41.112900,85.240100,China,1.439324e+09,CHN
172,Alaska,US,2020-03-11T20:00:00,1,0,0,61.370716,-152.404419,United States of America,3.310026e+08,USA

In [294]:
merged.isna().sum()

Province/State    117
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
Country             0
Region              1
Population          1
ISO3_Code           1
dtype: int64

In [301]:
merged[merged.Population.isna()]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Country,Population,ISO3_Code
60,Diamond Princess,Cruise Ship,2020-03-11T20:00:00,696,7,325,35.4498,139.6649,Cruise Ship,NaN,NaN

In [302]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 229
Data columns (total 11 columns):
Province/State    113 non-null object
Country/Region    230 non-null object
Last Update       230 non-null object
Confirmed         230 non-null int64
Deaths            230 non-null int64
Recovered         230 non-null int64
Latitude          230 non-null float64
Longitude         230 non-null float64
Country           230 non-null object
Population        229 non-null float64
ISO3_Code         229 non-null object
dtypes: float64(3), int64(3), object(5)
memory usage: 21.6+ KB

## Add Extra Columns

In [321]:
grouped = df.groupby("Country/Region", as_index=False)[['Confirmed', 'Deaths','Recovered']].sum()

In [322]:
grouped.head()

        Country/Region  Confirmed  Deaths  Recovered
0          Afghanistan          7       0          0
1              Albania         33       1          0
2              Algeria         26       2          8
3              Andorra          1       0          0
4  Antigua and Barbuda          1       0          0

In [312]:
# Merge grouped data with population
agg = grouped.merge(pop, how="left", left_on="Country/Region", right_on="Region")

In [313]:
agg.head()

,Country/Region,Confirmed,Deaths,Recovered,Region,Population,ISO3_Code
0,Afghanistan,7,0,0,Afghanistan,38928341.0,AFG
1,Albania,33,1,0,Albania,2877800.0,ALB
2,Algeria,26,2,8,Algeria,43851043.0,DZA
3,Andorra,1,0,0,Andorra,77265.0,AND
4,Antigua and Barbuda,1,0,0,Antigua and Barbuda,97928.0,ATG

In [314]:
agg['Active'] = agg.Confirmed - (agg.Deaths + agg.Recovered)

In [316]:
agg['Confirmed_per_Cap'] = agg.Confirmed/ agg.Population
agg['Deaths_per_Cap'] = agg.Deaths/ agg.Population
agg['Recovered_per_Cap'] = agg.Recovered/ agg.Population
agg['Active_per_Cap'] = agg.Active/ agg.Population

In [317]:
agg.head()

,Country/Region,Confirmed,Deaths,Recovered,Region,Population,ISO3_Code,Active,Confirmed_per_Cap,Deaths_per_Cap,Recovered_per_Cap,Active_per_Cap
0,Afghanistan,7,0,0,Afghanistan,38928341.0,AFG,7,1.798176e-07,0.000000e+00,0.000000e+00,1.798176e-07
1,Albania,33,1,0,Albania,2877800.0,ALB,32,1.146709e-05,3.474877e-07,0.000000e+00,1.111961e-05
2,Algeria,26,2,8,Algeria,43851043.0,DZA,16,5.929163e-07,4.560895e-08,1.824358e-07,3.648716e-07
3,Andorra,1,0,0,Andorra,77265.0,AND,1,1.294247e-05,0.000000e+00,0.000000e+00,1.294247e-05
4,Antigua and Barbuda,1,0,0,Antigua and Barbuda,97928.0,ATG,1,1.021158e-05,0.000000e+00,0.000000e+00,1.021158e-05