# Data Understanding

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 200)
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

from fuzzywuzzy import fuzz, process

## Import Data

### Corona Time Series

In [3]:
confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
deaths = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")
recovered = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv")

In [4]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,48,50,50,50,53,59,70,75,82,114
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,420,461,502,511,581,639,639,701,773,839
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,130,138,150,150,160,178,178,200,212,226
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,83,93,99,117,129,149,149,197,238,428

In [5]:
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,6,6,6,10,10,15,16,19,22,22
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,31,31,31,31,33,34,34,35,35,35
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,46,76,76,76,101,118,118,118,118,118
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,78,78,78,78,78,96,96,97,105,105
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,22,23,24,24,24,26,26,26,35,42

In [16]:
dates = confirmed.columns[4:]

conf_df_long = confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Confirmed')

deaths_df_long = deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Deaths')

recv_df_long = recovered.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Recovered')

full_table = pd.concat([conf_df_long, deaths_df_long['Deaths'], recv_df_long['Recovered']], 
                       axis=1, sort=False)

full_table.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,NaN,Japan,36.0000,138.0000,1/22/20,2,0,0
2,NaN,Singapore,1.2833,103.8333,1/22/20,0,0,0
3,NaN,Nepal,28.1667,84.2500,1/22/20,0,0,0
4,NaN,Malaysia,2.5000,112.5000,1/22/20,0,0,0

In [10]:
full_table.shape

(24300, 8)

In [13]:
full_table.isna().sum()

Province/State    7506
Country/Region       0
Lat                  0
Long                 0
Date                 0
Confirmed            0
Deaths               0
Recovered            0
dtype: int64

In [19]:
full_table[full_table['Country/Region']=='China']

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
155,Hubei,China,30.9756,112.2707,1/22/20,444,17,28
159,Guangdong,China,23.3417,113.4244,1/22/20,26,0,0
160,Henan,China,33.8820,113.6140,1/22/20,5,0,0
161,Zhejiang,China,29.1832,120.0934,1/22/20,10,0,0
162,Hunan,China,27.6104,111.7088,1/22/20,4,0,0
...,...,...,...,...,...,...,...,...
24039,Inner Mongolia,China,44.0935,113.9448,3/15/20,75,1,71
24040,Ningxia,China,37.2692,106.1655,3/15/20,75,0,73
24044,Qinghai,China,35.7452,95.9956,3/15/20,18,0,18
24045,Macau,China,22.1667,113.5500,3/15/20,10,0,10
24053,Tibet,China,31.6927,88.0924,3/15/20,1,0,1

In [22]:
df = full_table.groupby(['Country/Region', 'Date'], as_index=False)[['Confirmed', 'Deaths', 'Recovered']].sum()

In [23]:
country_dict = {'Mainland China': 'China',
                'Korea, South': 'Republic of Korea',
                'US':'United States of America',
                'Taiwan*': "China, Taiwan Province of China",
                'Bolivia': 'Bolivia (Plurinational State of)',
                "Iran": "Iran (Islamic Republic of)",
                "Russia": "Russian Federation",
                "Vietnam": "Viet Nam",
                "Brunei":"Brunei Darussalam",
                "Moldova": "Republic of Moldova",
                "Cote d'Ivoire": "Côte d'Ivoire",
                "Reunion": "Réunion",
                "Congo (Kinshasa)":"Democratic Republic of the Congo",
                "occupied Palestinian territory": "State of Palestine",
                "Curacao":"Curaçao",
                "Venezuela":"Venezuela (Bolivarian Republic of)",
                #"Jersey": "United Kingdom",
                #"Guernsey": "United Kingdom"
               }
# Replacing names of countries eg. "Mainland China" with "China" 
df['Country'] = df['Country/Region'].replace(country_dict)

In [20]:
df[df['Country/Region'].str.contains("jersey", case=False)]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
202,NaN,Jersey,2020-03-14T16:33:03,2,0,0,49.19,-2.11

In [22]:
pop[pop.Region.str.contains("jer", case=False)]

Empty DataFrame
Columns: [Region, Country code, Type, Parent code, Population]
Index: []

### Population

In [6]:
pop = pd.read_excel("data/pop/un_pop_clean.xlsx", index_col=0)
# pop = pop.rename(columns={'2018':'population', "Country Name":"Country"})

# Change Population from thousands to ones
pop.iloc[:,-1] = pop.Population * 1000

In [280]:
pop.head()

,Region,Country code,Type,Parent code,Population
1,WORLD,900,World,0,7.794799e+09
3,More developed regions,901,Development Group,1803,1.273304e+09
4,Less developed regions,902,Development Group,1803,6.521494e+09
5,Least developed countries,941,Development Group,902,1.057438e+09
6,"Less developed regions, excluding least develo...",934,Development Group,902,5.464056e+09

In [26]:
pop.head(25)

,Region,Country code,Type,Parent code,Population
1,WORLD,900,World,0,7.794799e+09
3,More developed regions,901,Development Group,1803,1.273304e+09
4,Less developed regions,902,Development Group,1803,6.521494e+09
5,Least developed countries,941,Development Group,902,1.057438e+09
6,"Less developed regions, excluding least develo...",934,Development Group,902,5.464056e+09
7,"Less developed regions, excluding China",948,Development Group,1803,5.050208e+09
8,Land-locked Developing Countries (LLDC),1636,Special other,1803,5.331434e+08
9,Small Island Developing States (SIDS),1637,Special other,1803,7.207610e+07
11,High-income countries,1503,Income Group,1802,1.263093e+09
12,Middle-income countries,1517,Income Group,1802,5.753052e+09
13,Upper-middle-income countries,1502,Income Group,1517,2.654816e+09
14,Lower-middle-income countries,1501,Income Group,1517,3.098235e+09
15,Low-income countries,1500,Income Group,1802,7.757106e+08
16,No income group available,1518,Income Group,1802,2.943568e+06
18,Africa,903,Region,1840,1.340598e+09
19,Asia,935,Region,1840,4.641055e+09
20,Europe,908,Region,1840,7.476360e+08
21,Latin America and the Caribbean,904,Region,1840,6.539623e+08
22,Northern America,905,Region,1840,3.688696e+08
23,Oceania,909,Region,1840,4.267781e+07
25,SUB-SAHARAN AFRICA,947,SDG region,1828,1.094366e+09
26,Eastern Africa,910,Subregion,947,4.454056e+08
27,Burundi,108,Country/Area,910,1.189078e+07
28,Comoros,174,Country/Area,910,8.695950e+05
29,Djibouti,262,Country/Area,910,9.880020e+05

In [40]:
pop.Population[1]

7794798729.0

In [44]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285 entries, 1 to 289
Data columns (total 5 columns):
Region          285 non-null object
Country code    285 non-null int64
Type            285 non-null object
Parent code     285 non-null int64
Population      285 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.4+ KB

In [97]:
pop[pop.Region.str.contains("Kosovo", case=False)]

Empty DataFrame
Columns: [Region, Country code, Type, Parent code, Population]
Index: []

### Location

In [63]:
location = pd.read_excel("data/pop/un_location_clean.xlsx", index_col=0)

# Select only countries, not region
#location = location.loc[location.LocTypeName == 'Country/Area'].iloc[:, [0, 2, 3]].reset_index(drop=True)

In [64]:
location.head()

,Location,Notes,LocID,ISO3_Code,LocType,LocTypeName,ParentID,WorldID,SubRegID,SubRegName,...,WB_LMIC,WB_LIC,WB_NoIncomeGroup,MaxHIV_Male,MaxHIV_Female,MaxHIV_BothSexes,YearMaxHIV_BothSexes,HIVAIDSMortalityImpact_AgePattern,HIVAIDSMortalityImpact_e0,TotPop2019LessThan90k
Index,,,,,,,,,,,,,,,,,,,,,
1,WORLD,NaN,900,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UN development groups,a,1803,NaN,25.0,Label/Separator,900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,More developed regions,b,901,NaN,5.0,Development group,1803,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Less developed regions,c,902,NaN,5.0,Development group,1803,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Least developed countries,d,941,NaN,5.0,Development group,902,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
group = location[location.LocTypeName.isin(['Development group', 'Income group'])][['Location', 'LocID', 'LocTypeName']].reset_index(drop=True)
group = group.rename(columns={'Location': 'Income'})

In [66]:
location['WD'] = location.loc[:, location.columns.str.startswith("WB")].min(axis=1)

In [67]:
location = location.merge(group, how='left', left_on='WD', right_on = 'LocID', suffixes=('', 'y_'))

### Country names

In [92]:
country = pd.read_csv("data/pop/WDICountry.csv").iloc[:,:10]

# Drop regions or special areas such as OECD countries. Only keep countries
country = country.loc[~country.Region.isna()]

In [107]:
country.sample(5)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code
177,NZL,New Zealand,New Zealand,New Zealand,NZ,New Zealand dollar,Fiscal year end: March 31; reporting period fo...,East Asia & Pacific,High income,NZ
239,TTO,Trinidad and Tobago,Trinidad and Tobago,Republic of Trinidad and Tobago,TT,Trinidad and Tobago dollar,NaN,Latin America & Caribbean,High income,TT
65,EGY,Egypt,"Egypt, Arab Rep.",Arab Republic of Egypt,EG,Egyptian pound,NaN,Middle East & North Africa,Lower middle income,EG
9,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS
249,UZB,Uzbekistan,Uzbekistan,Republic of Uzbekistan,UZ,Uzbek sum,NaN,Europe & Central Asia,Lower middle income,UZ

In [94]:
country.shape

(217, 10)

In [216]:
location = location.merge(country.iloc[:, [0,1]], left_on='ISO3_Code', right_on='Country Code', how='left')
location = location.iloc[:, [0,1,2,4]]

In [217]:
location.head()

   Location  LocID ISO3_Code Country Code
0   Burundi    108       BDI          BDI
1   Comoros    174       COM          COM
2  Djibouti    262       DJI          DJI
3   Eritrea    232       ERI          ERI
4  Ethiopia    231       ETH          ETH

In [156]:
location.isna().sum()

Location         0
LocID            0
ISO3_Code        0
Country Code    19
Short Name      19
dtype: int64

In [162]:
location[location['Short Name'].isna()]

                             Location  LocID ISO3_Code Short Name
9                             Mayotte    175       MYT        NaN
11                            Réunion    638       REU        NaN
47                       Saint Helena    654       SHN        NaN
57                     Western Sahara    732       ESH        NaN
93    China, Taiwan Province of China    158       TWN        NaN
109                          Anguilla    660       AIA        NaN
114  Bonaire, Sint Eustatius and Saba    535       BES        NaN
122                        Guadeloupe    312       GLP        NaN
125                        Martinique    474       MTQ        NaN
126                        Montserrat    500       MSR        NaN
128                  Saint Barthélemy    652       BLM        NaN
151       Falkland Islands (Malvinas)    238       FLK        NaN
152                     French Guiana    254       GUF        NaN
174                      Cook Islands    184       COK        NaN
176                              Niue    570       NIU        NaN
178                           Tokelau    772       TKL        NaN
181         Wallis and Futuna Islands    876       WLF        NaN
211                          Holy See    336       VAT        NaN
233         Saint Pierre and Miquelon    666       SPM        NaN

### Merge Location and Population

In [68]:
# Merge with location data to include Country ISO3 Code
pop = pop.merge(location, left_on="Country code", right_on="LocID")
pop = pop[['Region', 'Population', 'ISO3_Code', 'Income']]

In [69]:
pop.head()

,Region,Population,ISO3_Code,Income
0,WORLD,7.794799e+09,NaN,NaN
1,More developed regions,1.273304e+09,NaN,NaN
2,Less developed regions,6.521494e+09,NaN,NaN
3,Least developed countries,1.057438e+09,NaN,NaN
4,"Less developed regions, excluding least develo...",5.464056e+09,NaN,NaN

In [71]:
pop.to_pickle('data/pop/pop.pkl')

## Match

In [ ]:
scorer_dict = { 'R':fuzz.ratio,  # Good
                'PR': fuzz.partial_ratio,  # So so
                'TSeR': fuzz.token_set_ratio,  # Good ***
                'TSoR': fuzz.token_sort_ratio,  # Good ***
                'PTSeR': fuzz.partial_token_set_ratio,  # Don't use
                'PTSoR': fuzz.partial_token_sort_ratio, # Don't use
                'WR': fuzz.WRatio,  # Don't use
                'QR': fuzz.QRatio,  # Good
                'UWR': fuzz.UWRatio,  # Don't use
                'UQR': fuzz.UQRatio }  # Good

In [73]:
%%time

def match_country(query, choices, scorer=fuzz.partial_token_sort_ratio, score_cutoff=80):

    match = process.extractOne(query=query, choices=choices, scorer=scorer, score_cutoff=score_cutoff)
    if match:
        return query, match[0], match[1], match[2]
    else:
        return (np.nan, np.nan, np.nan, np.nan)

    
result = df['Country/Region'].drop_duplicates().apply(match_country, choices=pop.Region,  
                                              scorer=fuzz.QRatio, score_cutoff=0)

result = pd.DataFrame(result.tolist(), columns=['country', 'matched_country', 'score', 'key'])

CPU times: user 365 ms, sys: 4.36 ms, total: 370 ms
Wall time: 387 ms

In [75]:
result

                    country         matched_country  score  key
0                     China                   China    100  128
1                    Panama                  Panama    100  186
2                 Australia               Australia    100  203
3                   Croatia                 Croatia    100  261
4              Burkina Faso            Burkina Faso    100   65
5                   Albania                 Albania    100  258
6                    Canada                  Canada    100  286
7            United Kingdom          United Kingdom    100  256
8               Philippines             Philippines    100  143
9                     Nepal                   Nepal    100  123
10                Sri Lanka               Sri Lanka    100  125
11     United Arab Emirates    United Arab Emirates    100  107
12                 Thailand                Thailand    100  145
13                 Cambodia                Cambodia    100  138
14               San Marino              San Marino    100  270
15                  Germany                 Germany    100  278
16         Congo (Kinshasa)            Cook Islands     59  222
17                 Honduras                Honduras    100  183
18                       US                  Cyprus     50   94
19                  Algeria                 Algeria    100   83
20                  Reunion                 Réunion     92   38
21                     Oman                    Oman    100  101
22              Cruise Ship              Micronesia     48  212
23                    Italy                   Italy    100  265
24                     Iraq                    Iraq    100   96
25                  Lebanon                 Lebanon    100  100
26                  Ukraine                 Ukraine    100  242
27                  Austria                 Austria    100  275
28              Switzerland             Switzerland    100  283
29                  Ireland                 Ireland    100  250
30                  Georgia                 Georgia    100   95
31               Bangladesh              Bangladesh    100  118
32                   Kuwait                  Kuwait    100   99
33          North Macedonia         North Macedonia    100  268
34                   Brazil                  Brazil    100  190
35                   Greece                  Greece    100  263
36                   Sweden                  Sweden    100  255
37                 Pakistan                Pakistan    100  124
38                   Norway                  Norway    100  254
39                   France                  France    100  277
40                   Turkey                  Turkey    100  106
41                  Bahrain                 Bahrain    100   93
42                  Iceland                 Iceland    100  249
43                  Ecuador                 Ecuador    100  193
44                  Estonia                 Estonia    100  246
45                  Denmark                 Denmark    100  245
46              Netherlands             Netherlands    100  282
47                     Cuba                    Cuba    100  158
48                  Nigeria                 Nigeria    100   76
49                Lithuania               Lithuania    100  253
50              New Zealand             New Zealand    100  204
51                  Belarus                 Belarus    100  233
52               Azerbaijan              Azerbaijan    100   92
53                  Armenia                 Armenia    100   91
54               Kazakhstan              Kazakhstan    100  111
55                     Iran                    Iraq     75   96
56                   Israel                  Israel    100   97
57           Cayman Islands          Cayman Islands    100  157
58                    Japan                   Japan    100  133
59                  Czechia                 Czechia    100  235
60                    Qatar                   Qatar    100  102
61                Singapore               Singapore    100  144
62               Guadeloupe              Guadeloupe    100  163
63       Dominican Republic      Dominican Republic    100  161
64                    Egypt                   Egypt    100   84
65                  Bolivia                  Latvia     62  252
66                Indonesia               Indonesia    100  139
67             Korea, South                 Lesotho     53   60
68                   Latvia                  Latvia    100  252
69                  Senegal                 Senegal    100   78
70                 Ethiopia                Ethiopia    100   31
71                    Sudan                   Sudan    100   87
72                 Portugal                Portugal    100  269
73                  Andorra                 Andorra    100  259
74                   Guinea                  Guinea    100   70
75      Antigua and Barbuda     Antigua and Barbuda    100  151
76                  Belgium                 Belgium    100  276
77                   Russia                 Tunisia     62   88
78                    India                   India    100  120
79                  Morocco                 Morocco    100   86
80                    Aruba                   Aruba    100  152
81                Argentina               Argentina    100  188
82                    Chile                   Chile    100  191
83                   Jordan                  Jordan    100   98
84                    Kenya                   Kenya    100   32
85                   Poland                  Poland    100  237
86                  Hungary                 Hungary    100  236
87                 Slovenia                Slovenia    100  272
88                  Finland                 Finland    100  248
89             South Africa            South Africa    100   62
90   Bosnia and Herzegovina  Bosnia and Herzegovina    100  260
91             Saudi Arabia            Saudi Arabia    100  103
92            Cote d'Ivoire           Côte d'Ivoire     96   67
93               Luxembourg              Luxembourg    100  280
94               Costa Rica              Costa Rica    100  180
95                   Bhutan                  Bhutan    100  119
96                    Spain                   Spain    100  273
97                 Malaysia                Malaysia    100  141
98                 Holy See                Holy See    100  264
99                   Serbia                  Serbia    100  271
100                Cameroon                Cameroon    100   49
101                Slovakia                Slovakia    100  241
102                    Togo                    Togo    100   80
103                    Peru                    Peru    100  198
104                 Romania                 Romania    100  239
105                  Mexico                  Mexico    100  184
106                Colombia                Colombia    100  192
107                  Brunei                 Burundi     77   27
108              Martinique              Martinique    100  166
109           French Guiana           French Guiana    100  195
110                   Malta                   Malta    100  266
111                Paraguay                Paraguay    100  197
112                 Moldova     Republic of Moldova     54  238
113                Maldives                Maldives    100  122
114                Bulgaria                Bulgaria    100  234
115                 Tunisia                 Tunisia    100   88
116                  Cyprus                  Cyprus    100   94
117                 Vietnam                Viet Nam     93  147
118                Mongolia                Mongolia    100  134
119                 Jamaica                 Jamaica    100  165
120             Afghanistan             Afghanistan    100  117
121                  Monaco                  Monaco    100  281
122           Liechtenstein           Liechtenstein    100  279
123                  Guyana                  Guyana    100  196
124                 Taiwan*                Thailand     71  145

In [134]:
def merge_match(df, result, fonds_column="fonds_clean",ISIN_column="ISIN", result_isin="ISIN", result_fonds="fonds"):
    '''Fill some missing ISIN values with matching the fund names.'''

    # Create a dictionary from current fond-ISIN pairs
    match_dict = dict(zip(result[result_fonds], result[result_isin]))

    # Fill ISIN column with mapped values
    df[ISIN_column] = df[ISIN_column].fillna(df[fonds_column].map(match_dict))
    
    return df

# Merge the previously matched result with the df
df = preprocessing.merge_match(df, result[result.score>70])

NameError: name 'preprocessing' is not defined

## Merge

In [292]:
merged = df.merge(pop, how="left", left_on="Country", right_on="Region")
merged.drop('Region', axis=1, inplace=True)

In [300]:
merged.sample(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Country,Population,ISO3_Code
228,NaN,Guyana,2020-03-11T20:00:00,1,1,0,5.000000,-58.750000,Guyana,7.865590e+05,GUY
205,North Dakota,US,2020-03-11T20:00:00,1,0,0,47.528912,-99.784012,United States of America,3.310026e+08,USA
27,Inner Mongolia,China,2020-03-11T03:53:03,75,1,71,44.093500,113.944800,China,1.439324e+09,CHN
26,Xinjiang,China,2020-03-11T02:18:14,76,3,73,41.112900,85.240100,China,1.439324e+09,CHN
172,Alaska,US,2020-03-11T20:00:00,1,0,0,61.370716,-152.404419,United States of America,3.310026e+08,USA

In [294]:
merged.isna().sum()

Province/State    117
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
Country             0
Region              1
Population          1
ISO3_Code           1
dtype: int64

In [301]:
merged[merged.Population.isna()]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Country,Population,ISO3_Code
60,Diamond Princess,Cruise Ship,2020-03-11T20:00:00,696,7,325,35.4498,139.6649,Cruise Ship,NaN,NaN

In [302]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 229
Data columns (total 11 columns):
Province/State    113 non-null object
Country/Region    230 non-null object
Last Update       230 non-null object
Confirmed         230 non-null int64
Deaths            230 non-null int64
Recovered         230 non-null int64
Latitude          230 non-null float64
Longitude         230 non-null float64
Country           230 non-null object
Population        229 non-null float64
ISO3_Code         229 non-null object
dtypes: float64(3), int64(3), object(5)
memory usage: 21.6+ KB

## Add Extra Columns

In [304]:
merged.groupby('Country/Region').sum()

,Confirmed,Deaths,Recovered,Latitude,Longitude,Population
Country/Region,,,,,,
Afghanistan,7,0,0,33.000000,65.000000,3.892834e+07
Albania,33,1,0,41.153300,20.168300,2.877800e+06
Algeria,26,2,8,28.033900,1.659600,4.385104e+07
Andorra,1,0,0,42.506300,1.521800,7.726500e+04
Antigua and Barbuda,1,0,0,17.060800,-61.796400,9.792800e+04
Argentina,31,2,0,-38.416100,-63.616700,4.519578e+07
Armenia,8,0,0,40.069100,45.038200,2.963234e+06
Aruba,2,0,0,12.521100,-69.968300,1.067660e+05
Australia,200,3,23,-220.525800,1269.500300,2.294989e+08
Austria,504,1,6,47.516200,14.550100,9.006400e+06
Azerbaijan,15,1,3,40.143100,47.576900,1.013918e+07
Bahrain,189,0,44,26.066700,50.557700,1.701583e+06
Bangladesh,3,0,0,23.685000,90.356300,1.646894e+08
Belarus,27,0,3,53.709800,27.953400,9.449321e+06
Belgium,559,3,1,50.503900,4.469900,1.158962e+07
Bhutan,1,0,0,27.514200,90.433600,7.716120e+05
Bolivia,3,0,0,-16.290200,-63.588700,1.167303e+07
Bosnia and Herzegovina,13,0,0,43.915900,17.679100,3.280815e+06
Brazil,151,0,0,-14.235000,-51.925300,2.125594e+08
Brunei,37,0,0,4.535300,114.727700,4.374830e+05
Bulgaria,23,1,0,42.733900,25.485800,6.948445e+06
Burkina Faso,2,0,0,12.238300,-1.561600,2.090328e+07
Cambodia,5,0,1,12.565700,104.991000,1.671897e+07
Cameroon,2,0,0,3.848000,11.502100,2.654586e+07
Canada,193,1,8,402.768700,-797.488600,3.019373e+08
Cayman Islands,1,0,0,19.313300,-81.254600,6.572000e+04
Chile,43,0,0,-35.675100,-71.543000,1.911621e+07
China,80945,3180,64196,1080.081700,3685.580000,4.749768e+10
Colombia,13,0,0,4.570900,-74.297300,5.088288e+07
Congo (Kinshasa),2,0,0,-4.038300,21.758700,8.956140e+07
Costa Rica,23,0,0,9.748900,-83.753400,5.094114e+06
Cote d'Ivoire,1,0,0,7.540000,-5.547100,2.637828e+07
Croatia,32,0,1,45.100000,15.200000,4.105268e+06
Cruise Ship,696,7,325,35.449800,139.664900,0.000000e+00
Cuba,4,0,0,21.521800,-77.781200,1.132662e+07
Cyprus,14,0,0,35.126400,33.429900,1.207361e+06
Czechia,141,0,0,49.817500,15.473000,1.070898e+07
Denmark,804,0,1,118.156500,2.590000,1.158441e+07
Dominican Republic,5,0,0,18.735700,-70.162700,1.084790e+07
Ecuador,17,0,0,-1.831200,-78.183400,1.764306e+07
Egypt,80,2,27,26.820600,30.802500,1.023344e+08
Estonia,79,0,0,58.595300,25.013600,1.326539e+06
Ethiopia,1,0,0,9.145000,40.489700,1.149636e+08
Finland,155,0,1,61.924100,25.748200,5.540718e+06
France,3667,79,12,64.518700,25.737100,2.610940e+08
French Guiana,5,0,0,3.933900,-53.125800,2.986820e+05
Georgia,25,0,0,42.315400,43.356900,3.989175e+06
Germany,3675,7,46,51.165700,10.451500,8.378394e+07
Greece,190,1,0,39.074200,21.824300,1.042306e+07
Guadeloupe,1,0,0,16.265000,-61.551000,4.001270e+05
Guinea,1,0,0,9.945600,-9.696600,1.313279e+07
Guyana,1,1,0,5.000000,-58.750000,7.865590e+05
Holy See,1,0,0,41.902900,12.453400,8.090000e+02
Honduras,2,0,0,15.200000,-86.241900,9.904608e+06
Hungary,19,0,0,47.162500,19.503300,9.660350e+06
Iceland,134,0,1,64.963100,-19.020800,3.412500e+05
India,82,2,4,20.593700,78.962900,1.380004e+09
Indonesia,69,4,2,-0.789300,113.921300,2.735236e+08
Iran,11364,514,2959,32.427900,53.688000,8.399295e+07
Iraq,101,9,24,33.223200,43.679300,4.022250e+07
Ireland,90,1,0,53.142400,-7.692100,4.937796e+06
Israel,161,0,4,31.046100,34.851600,8.655541e+06
Italy,17660,1266,1439,41.871900,12.567400,6.046183e+07
Jamaica,8,0,0,18.109600,-77.297500,2.961161e+06
Japan,701,19,118,36.204800,138.252900,1.264765e+08
Jordan,1,0,1,31.240000,36.510000,1.020314e+07
Kazakhstan,4,0,0,48.019600,66.923700,1.877671e+07
Kenya,1,0,0,-0.023600,37.906200,5.377130e+07
"Korea, South",7979,66,510,35.907800,127.766900,5.126918e+07
Kuwait,80,0,5,29.311700,47.481800,4.270563e+06
Latvia,17,0,1,56.879600,24.603200,1.886202e+06
Lebanon,77,3,1,33.854700,35.862300,6.825442e+06
Liechtenstein,1,0,0,47.140000,9.550000,3.813700e+04
Lithuania,6,0,0,55.169400,23.881300,2.722291e+06
Luxembourg,34,0,0,49.815300,6.129600,6.259760e+05
Malaysia,197,0,26,4.210500,101.975800,3.236600e+07
Maldives,9,0,0,3.202800,73.220700,5.405420e+05
Malta,12,0,1,35.937500,14.375400,4.415390e+05
Martinique,3,0,0,14.641500,-61.024200,3.752650e+05
Mexico,12,0,4,23.634500,-102.552800,1.289328e+08
Moldova,6,0,0,47.411600,28.369900,4.033963e+06
Monaco,2,0,0,43.733300,7.416700,3.924400e+04
Mongolia,1,0,0,46.862500,103.846700,3.278292e+06
Morocco,7,1,1,31.791700,-7.092600,3.691056e+07
Nepal,1,0,1,28.394900,84.124000,2.913681e+07
Netherlands,804,10,0,52.132600,5.291300,1.713487e+07
New Zealand,5,0,0,-40.900600,174.886000,4.822233e+06
Nigeria,2,0,0,9.082000,8.675300,2.061396e+08
North Macedonia,14,0,1,41.608600,21.745300,2.083380e+06
Norway,996,0,1,60.472000,8.468900,5.421242e+06
Oman,19,0,9,21.473500,55.975400,5.106622e+06
Pakistan,28,0,2,30.375300,69.345100,2.208923e+08
Panama,27,1,0,8.538000,-80.782100,4.314768e+06
Paraguay,6,0,0,-23.442500,-58.443800,7.132530e+06
Peru,28,0,0,-9.190000,-75.015200,3.297185e+07
Philippines,64,5,2,12.879700,121.774000,1.095811e+08
Poland,68,2,0,51.919400,19.145100,3.784660e+07
Portugal,112,0,1,39.399900,-8.224500,1.019671e+07
Qatar,320,0,0,25.354800,51.183900,2.881060e+06
Reunion,5,0,0,-21.115100,55.536400,8.953080e+05
Romania,89,0,7,45.943200,24.966800,1.923768e+07
Russia,45,0,3,61.524000,105.318800,1.459345e+08
San Marino,80,5,0,43.942400,12.457800,3.393800e+04
Saudi Arabia,86,0,1,23.885900,45.079200,3.481387e+07
Senegal,10,0,1,14.497400,-14.452400,1.674393e+07
Serbia,35,0,0,44.016500,21.005900,8.737370e+06
Singapore,200,0,97,1.352100,103.819800,5.850343e+06
Slovakia,32,0,0,48.669000,19.699000,5.459643e+06
Slovenia,141,0,0,46.151200,14.995500,2.078932e+06
South Africa,24,0,0,-30.559500,22.937500,5.930869e+07
Spain,5232,133,193,40.463700,-3.749200,4.675478e+07
Sri Lanka,6,0,1,7.873100,80.771800,2.141325e+07
Sudan,1,1,0,12.862800,30.217600,4.384927e+07
Sweden,814,1,1,60.128200,18.643500,1.009927e+07
Switzerland,1139,11,4,46.818200,8.227500,8.654618e+06
Taiwan*,50,1,20,23.700000,121.000000,2.381678e+07
Thailand,75,1,35,15.870000,100.992500,6.979998e+07
Togo,1,0,0,8.619500,0.824800,8.278737e+06
Tunisia,16,0,0,33.886900,9.537500,1.181862e+07
Turkey,5,0,0,38.963700,35.243300,8.433907e+07
US,2179,47,12,2085.310130,-4743.447004,1.754314e+10
Ukraine,3,1,0,48.379400,31.165600,4.373376e+07
United Arab Emirates,85,0,17,23.424100,53.847800,9.890400e+06
United Kingdom,801,8,19,140.891184,-11.153951,2.036580e+08
Vietnam,47,0,16,14.058300,108.277200,9.733858e+07

In [328]:
df.groupby("Country/Region", as_index=False)[['Confirmed', 'Deaths','Recovered']].sum()

             Country/Region  Confirmed  Deaths  Recovered
0               Afghanistan          7       0          0
1                   Albania         33       1          0
2                   Algeria         26       2          8
3                   Andorra          1       0          0
4       Antigua and Barbuda          1       0          0
5                 Argentina         31       2          0
6                   Armenia          8       0          0
7                     Aruba          2       0          0
8                 Australia        200       3         23
9                   Austria        504       1          6
10               Azerbaijan         15       1          3
11                  Bahrain        189       0         44
12               Bangladesh          3       0          0
13                  Belarus         27       0          3
14                  Belgium        559       3          1
15                   Bhutan          1       0          0
16                  Bolivia          3       0          0
17   Bosnia and Herzegovina         13       0          0
18                   Brazil        151       0          0
19                   Brunei         37       0          0
20                 Bulgaria         23       1          0
21             Burkina Faso          2       0          0
22                 Cambodia          5       0          1
23                 Cameroon          2       0          0
24                   Canada        193       1          8
25           Cayman Islands          1       0          0
26                    Chile         43       0          0
27                    China      80945    3180      64196
28                 Colombia         13       0          0
29         Congo (Kinshasa)          2       0          0
30               Costa Rica         23       0          0
31            Cote d'Ivoire          1       0          0
32                  Croatia         32       0          1
33              Cruise Ship        696       7        325
34                     Cuba          4       0          0
35                   Cyprus         14       0          0
36                  Czechia        141       0          0
37                  Denmark        804       0          1
38       Dominican Republic          5       0          0
39                  Ecuador         17       0          0
40                    Egypt         80       2         27
41                  Estonia         79       0          0
42                 Ethiopia          1       0          0
43                  Finland        155       0          1
44                   France       3667      79         12
45            French Guiana          5       0          0
46                  Georgia         25       0          0
47                  Germany       3675       7         46
48                   Greece        190       1          0
49               Guadeloupe          1       0          0
50                   Guinea          1       0          0
51                   Guyana          1       1          0
52                 Holy See          1       0          0
53                 Honduras          2       0          0
54                  Hungary         19       0          0
55                  Iceland        134       0          1
56                    India         82       2          4
57                Indonesia         69       4          2
58                     Iran      11364     514       2959
59                     Iraq        101       9         24
60                  Ireland         90       1          0
61                   Israel        161       0          4
62                    Italy      17660    1266       1439
63                  Jamaica          8       0          0
64                    Japan        701      19        118
65                   Jordan          1       0          1
66               Kazakhstan          4       0          0
67                    Kenya          1       0          0
68             Korea, South       7979      66        510
69                   Kuwait         80       0          5
70                   Latvia         17       0          1
71                  Lebanon         77       3          1
72            Liechtenstein          1       0          0
73                Lithuania          6       0          0
74               Luxembourg         34       0          0
75                 Malaysia        197       0         26
76                 Maldives          9       0          0
77                    Malta         12       0          1
78               Martinique          3       0          0
79                   Mexico         12       0          4
80                  Moldova          6       0          0
81                   Monaco          2       0          0
82                 Mongolia          1       0          0
83                  Morocco          7       1          1
84                    Nepal          1       0          1
85              Netherlands        804      10          0
86              New Zealand          5       0          0
87                  Nigeria          2       0          0
88          North Macedonia         14       0          1
89                   Norway        996       0          1
90                     Oman         19       0          9
91                 Pakistan         28       0          2
92                   Panama         27       1          0
93                 Paraguay          6       0          0
94                     Peru         28       0          0
95              Philippines         64       5          2
96                   Poland         68       2          0
97                 Portugal        112       0          1
98                    Qatar        320       0          0
99                  Reunion          5       0          0
100                 Romania         89       0          7
101                  Russia         45       0          3
102              San Marino         80       5          0
103            Saudi Arabia         86       0          1
104                 Senegal         10       0          1
105                  Serbia         35       0          0
106               Singapore        200       0         97
107                Slovakia         32       0          0
108                Slovenia        141       0          0
109            South Africa         24       0          0
110                   Spain       5232     133        193
111               Sri Lanka          6       0          1
112                   Sudan          1       1          0
113                  Sweden        814       1          1
114             Switzerland       1139      11          4
115                 Taiwan*         50       1         20
116                Thailand         75       1         35
117                    Togo          1       0          0
118                 Tunisia         16       0          0
119                  Turkey          5       0          0
120                      US       2179      47         12
121                 Ukraine          3       1          0
122    United Arab Emirates         85       0         17
123          United Kingdom        801       8         19
124                 Vietnam         47       0         16

In [321]:
merged = df.groupby("Country/Region", as_index=False)[['Confirmed', 'Deaths','Recovered']].sum()

In [322]:
merged.head()

        Country/Region  Confirmed  Deaths  Recovered
0          Afghanistan          7       0          0
1              Albania         33       1          0
2              Algeria         26       2          8
3              Andorra          1       0          0
4  Antigua and Barbuda          1       0          0

In [312]:
agg = merged.merge(pop, how="left", left_on="Country/Region", right_on="Region")

In [313]:
agg.head()

,Country/Region,Confirmed,Deaths,Recovered,Region,Population,ISO3_Code
0,Afghanistan,7,0,0,Afghanistan,38928341.0,AFG
1,Albania,33,1,0,Albania,2877800.0,ALB
2,Algeria,26,2,8,Algeria,43851043.0,DZA
3,Andorra,1,0,0,Andorra,77265.0,AND
4,Antigua and Barbuda,1,0,0,Antigua and Barbuda,97928.0,ATG

In [314]:
agg['Active'] = agg.Confirmed - (agg.Deaths + agg.Recovered)

In [316]:
agg['Confirmed_per_Cap'] = agg.Confirmed/ agg.Population
agg['Deaths_per_Cap'] = agg.Deaths/ agg.Population
agg['Recovered_per_Cap'] = agg.Recovered/ agg.Population
agg['Active_per_Cap'] = agg.Active/ agg.Population

In [317]:
agg.head()

,Country/Region,Confirmed,Deaths,Recovered,Region,Population,ISO3_Code,Active,Confirmed_per_Cap,Deaths_per_Cap,Recovered_per_Cap,Active_per_Cap
0,Afghanistan,7,0,0,Afghanistan,38928341.0,AFG,7,1.798176e-07,0.000000e+00,0.000000e+00,1.798176e-07
1,Albania,33,1,0,Albania,2877800.0,ALB,32,1.146709e-05,3.474877e-07,0.000000e+00,1.111961e-05
2,Algeria,26,2,8,Algeria,43851043.0,DZA,16,5.929163e-07,4.560895e-08,1.824358e-07,3.648716e-07
3,Andorra,1,0,0,Andorra,77265.0,AND,1,1.294247e-05,0.000000e+00,0.000000e+00,1.294247e-05
4,Antigua and Barbuda,1,0,0,Antigua and Barbuda,97928.0,ATG,1,1.021158e-05,0.000000e+00,0.000000e+00,1.021158e-05

In [68]:
agg.to_excel("corona with population.xlsx")

In [222]:
agg[agg['Country/Region'].str.contains(r"San Marino", regex=True)]

,Country/Region,Confirmed,Deaths,Recovered,Country,Country Code,population,Active,Confirmed_per_Cap,Deaths_per_Cap,Recovered_per_Cap,Active_per_Cap
92,San Marino,62,2,0,San Marino,SMR,33.785,60,1.835134,0.059198,0.0,1.775936